body{
    font-family: 'Times New Roman', Times, serif;
    p{
        color: aliceblue;
    }
    h2 ,h5{
        text-align: center;
        color: aliceblue;
        font-weight: bold;
    }
    h3{
        color: aliceblue;
    }
    
    
    h4{
        color: aliceblue;
        padding-bottom: 50px;
        
    }
}

#titulopc{
    color: aliceblue;
}



